html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  color: #111;
  background-color: #eae8e6;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  color: #0e90df;
}

button,
select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  user-select: none;
}

select {
  padding: 0.2em;
}

.mapboxgl-canvas {
  transition: filter 0.5s ease-in-out;
}

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#map .mapboxgl-control-container {
  position: absolute;
  top: env(safe-area-inset-top);
  right: env(safe-area-inset-right);
  bottom: env(safe-area-inset-bottom);
  left: env(safe-area-inset-left);
  pointer-events: none;
}
.split-view #map .mapboxgl-control-container {
  bottom: 0;
}
#map .mapboxgl-control-container > * {
  pointer-events: auto;
}

.mapboxgl-ctrl-group button,
.mapboxgl-popup-content {
  zoom: 1.5;
}

#overview-map {
  pointer-events: none;
  position: fixed;
  width: calc(100% - 80px);
  max-width: 240px;
  height: 160px;
  bottom: 10px;
  left: 10px;
  border-radius: 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  overflow: hidden;
  margin-bottom: env(safe-area-inset-bottom);
  margin-left: env(safe-area-inset-left);
}
/* Safari fix */
#overview-map canvas {
  border-radius: 18px;
}
#overview-map.faded {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 3px 15px rgba(0, 0, 0, 0.15);
}
#overview-map .mapboxgl-canvas-container {
  transition: opacity 0.3s ease-in-out;
}
#overview-map.faded .mapboxgl-canvas-container {
  opacity: 0.5;
}
#overview-map[hidden] {
  display: block;
  opacity: 0;
}
#overview-map .mapboxgl-control-container {
  display: none;
}

#actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #ddd;
  border-radius: 6px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  gap: 1px;
  margin-bottom: env(safe-area-inset-bottom);
  margin-right: env(safe-area-inset-right);
}
.split-view #actions {
  margin-bottom: 0;
}

#actions button {
  padding: 0.9em;
  border: 0;
  margin: 0;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: #fff;
}
#actions button:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#actions button:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#actions button.bold {
  color: #333;
}
#actions button:hover {
  color: #000;
}
#actions button.faded {
  opacity: 0.5;
}
#actions button:after {
  color: #333;
  content: attr(title);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-110%, -50%);
  white-space: nowrap;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 6px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}
#actions button:hover:after {
  opacity: 1;
}

#overview-map button {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  border-radius: 999px;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 0;
  line-height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px) saturate(180%);
  pointer-events: auto;
  cursor: pointer;
}
.split-view #overview-map button {
  top: 10px;
  right: 10px;
  padding: 10px;
}
#overview-map button:hover {
  border-color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}
#overview-map button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.loading {
  margin: 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 3px solid #333;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mapboxgl-marker img {
  vertical-align: middle;
}

.mapboxgl-ctrl-top-left {
  z-index: 10;
}
.mapboxgl-ctrl-geocoder {
  width: calc(100vw - 20px);
}

.bottom-sheet-container {
  padding: 0.5em 1em 1em;
  margin-bottom: env(safe-area-inset-bottom);
  margin-right: env(safe-area-inset-right);
  margin-left: env(safe-area-inset-left);
  line-height: 1.4;
}
.bottom-sheet-container h1,
.bottom-sheet-container h2 {
  margin-top: 0;
  padding-top: 0;
}
.bottom-sheet-container button {
  flex: 1;
  padding: 1em;
  border: 0;
  margin: 0;
  color: #333;
  background-color: #eee;
  border-radius: 12px;
  appearance: none;
  cursor: pointer;
  text-align: left;
  align-items: center;
  display: grid;
  grid-template-columns: 1.5em 1fr;
  gap: 0.5em;
}
.bottom-sheet-container button.block {
  width: 100%;
}
.bottom-sheet-container button:hover {
  background-color: #ddd;
}
.bottom-sheet-container button.bold {
  font-weight: bold;
  color: #fff;
  background-color: #0e90df;
}
.bottom-sheet-container button.bold:hover {
  background-color: #017dca;
}
.bottom-sheet-container button.faded span {
  opacity: 0.5;
}

.legend-sheet-container dl,
.legend-sheet-container dt,
.legend-sheet-container dd {
  margin: 0 0 0.5em;
  padding: 0;
  vertical-align: middle;
}
.legend-sheet-container dl {
  display: grid;
  grid-template-columns: 16px 1fr;
}
.legend-sheet-container dt span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid;
}
.legend-sheet-container dt span.path {
  border-style: dashed;
  border-color: #477000;
}
.legend-sheet-container dt span.stairs {
  border-style: dotted;
  border-color: #ff0000;
}
.legend-sheet-container dt span.tunnel {
  border-style: dashed;
  border-color: #cc00cc;
}
.legend-sheet-container dt span.bridge {
  border-style: dashed;
  border-color: #5f0fff;
}

:root {
  --rsbs-max-w: 480px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.15);
}
[data-rsbs-header] {
  box-shadow: none;
}
.bd {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.marker-sheet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.split-view #map {
  bottom: 40vh;
  bottom: 40dvh;
}
.split-view #overview-map {
  width: auto;
  max-width: none;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60vh;
  top: 60dvh;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  pointer-events: auto;
  transition: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.split-view #overview-map[hidden] {
  opacity: 1;
}
.split-view #overview-map.faded .mapboxgl-canvas-container {
  opacity: 1;
}
.split-view #overview-map canvas {
  border-radius: 0;
}

.insignificant {
  opacity: 0.6;
}

.mapboxgl-user-location-accuracy-circle {
  transition-property: width, height;
  transition-duration: 0.3s;
}

.mapboxgl-ctrl-bottom-right {
  bottom: 222px;
}

#geolocation-marker {
  pointer-events: none;
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1ea1f1;
  border: 2px solid #fff;
  box-shadow: 0 0 0 12px #1ea1f155;
  opacity: 0.8;
}

.marker-pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 30px;
  margin-left: -2.5px;
  background-color: orangered;
  transform-origin: top center;
  filter: drop-shadow(0 0 6px #fff) drop-shadow(0 0 6px #fff)
    drop-shadow(0 0 6px #fff) drop-shadow(0 0 6px #fff);
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 100;
}
.marker-pointer.mini {
  width: 3px;
  height: 15px;
}
.marker-pointer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent orangered transparent;
  transform: translate(-8.5px, -3px);
}
.marker-pointer.mini:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent orangered transparent;
  transform: translate(-6px, -4px);
}
.marker-pointer[hidden] {
  display: block;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #32312f;
  }
  [data-rsbs-overlay] {
    background-color: #333;
  }
  .mapboxgl-canvas,
  .mapboxgl-ctrl,
  .legend-sheet-container dt span,
  .legend-sheet-container dt img {
    filter: invert(0.75) hue-rotate(180deg) contrast(1.5);
  }
  #actions {
    background-color: #555;
  }
  #actions button {
    background-color: #333;
  }
  #actions button.bold {
    color: #eee;
  }
  #actions button:hover {
    color: #fff;
  }
  #actions button:after {
    color: #eee;
    background-color: #333;
  }
  #overview-map {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
  }
  #overview-map.faded {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
  }
  #overview-map button {
    background-color: rgba(0, 0, 0, 0.2);
  }
  #overview-map button:hover {
    border-color: #999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .loading {
    border-color: #eee;
  }
  .bottom-sheet-container button {
    color: #eee;
    background-color: #555;
  }
  .bottom-sheet-container button:hover {
    background-color: #666;
  }
  :root {
    --rsbs-handle-bg: #666;
  }
  .split-view #overview-map {
    border-top-color: rgba(255, 255, 255, 0.3);
  }
  .marker-pointer {
    filter: drop-shadow(0 0 6px #000) drop-shadow(0 0 6px #000)
      drop-shadow(0 0 6px #000);
  }
}
